<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylecut icon" href="/img/Netflix_logo.png" class="icone">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    
    
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <title>Netflix Clone</title>
</head>
<body>
    <header>
        <div class="container">
            
            <nav class="titulos">
                <div class="blocoLeft">
                    <img class="logo" src="/img/netflix_logo_name.png" alt="">
                    <a href="#">Inicio</a>
                    <a href="#">Séries</a>
                    <a href="#">Filmes</a>
                    <a href="#">Bombando</a>
                    <a href="#">Minha Lista</a>
                </div>
                <div class="blocoRight">
                    <span id="search" class="material-icons">search</span>
                    <p>INFANTIL</p>
                    <img class="gift" src="/img/gift-icon-free-png-clipart.png" alt="giftIcon">
                    <img class="bell" src="/img/bell.png" alt="">
                    <img class="perfil" src="/img/perfil-yellow.png" alt="">
                    <img src="/img/baseline_arrow_drop_down_white_18dp.png" alt="">
                </div>  
            </nav>
        </div>
    </header>        
        <main class="filmePrincipal">
            <div class="container">
                <div class="filmeLogo">
                    <img  src="/img/nolimite do amanhã logo.png" alt="">
                </div>
                <p>Um homem revive o mesmo dia várias vezes. Só que infelizmente esse foi o dia em que ele foi mordo por alienígenas</p>
                <div class="buttons">
                    <a href="#">
                        <div id="buttonView">
                            <img id="play" src="/img/baseline_play_arrow_black_24dp.png" alt="">
                            <p>Assistir</p>
                        </div>
                    </a>
                    <a href="#">
                        <div id="buttonInfo">
                            <img src="/img/info icon.png " alt="">
                            <p>Mais Informações</p>
                        </div>
                    </a>
                </div>
             </div>
        </main>
        <div class="netflix">
            <h2>Minha Lista</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/img/filmes/batman.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/coringa.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/Enola holmes.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/gladiador.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/império-contra-ataca.jpeg" alt=""></div>
                    <div class="swiper-slide"><img src="/img/filmes/interestelar.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/lucy.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/matrix.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/wiplash.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/xman-apocalipse.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/vingadores ultimato.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/300 a.png" alt="move"></div> 
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>   
            </div>
        </div>   
        <div class="netflix">
            <h2>Populares na Netflix</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/img/filmes/BOMBANDO/A origem.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/BOMBANDO/GEOSTORM.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/BOMBANDO/GUERRA DOS MUNDOS.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/BOMBANDO/O REGRESSO.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/BOMBANDO/SAN ANDREAS.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/filmes/BOMBANDO/SNIPER AMERICANO.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/BOMBANDO/SPIDER MAN LONGE DE CASA.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/BOMBANDO/tropa de elite.jpg" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/BOMBANDO/ate o ultimo homem.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/BOMBANDO/born to kill.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/BOMBANDO/brilho eterno de uma mente sem lembranças.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/BOMBANDO/Django livre.png" alt="move"></div> 
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>   
            </div>
        </div> 
        <div class="netflix">
            <h2>Séries</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/img/filmes/SERIES/BLACK MIRROR.jpg" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/SERIES/BREAKING BAD.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/SERIES/DARK.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/SERIES/FRIENDS.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/SERIES/LA CASA DE PAPEL.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/filmes/SERIES/O GAMBITO.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/SERIES/STRANGER THINGS.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/SERIES/SUITS.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/SERIES/VIS A VIS.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/SERIES/os 100.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/SERIES/vikings.png" alt="move"></div>
                    <div class="swiper-slide"><img src="/img/filmes/SERIES/lucifer.png" alt="move"></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>   
            </div>
        </div> 
        <script>
            var swiper = new Swiper('.swiper-container',{
                slidesPerView: 6,
                spaceBetween: 10,
                slidesPerGroup: 1,
                loop: true,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                }
            });
        </script>
    </body>
</html>